# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts
.vercel

# production
/build

# misc
.DS_Store
*.pem
*.db
*.sqlite
npm-debug.log*

# env files
.env*
!.env.example

# data and dumps
data/
codebase.md
test-results/
playwright-report/
